name: test workflow

on:
  #   push:
  #     branches:
  #       - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  starting_up:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: First test
        run: echo "running first test..."
        shell: bash

  finishing_up:
    runs-on: ubuntu-latest
    steps:
      - name: Final test
        run: echo "final test..."
        shell: bash

  run_jest_tests:
    needs: [starting_up]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Run Jest tests
        run: npm test
